@import "tailwindcss";

@font-face {
    font-family: "Inter";
    src: url('../assets/fonts/Inter-VariableFont_opsz\,wght.woff2');
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}
@font-face {
    font-family: "Cals";
    src: url('../assets/fonts/CalSans-SemiBold.woff2');
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
}

:root {
  --bg: #171717;
  --fg: #fff;
  --menu-bg: #0f0f0f;
  --menu-fg-secondary: #5f5f5f;
  --hamburger-icon-border: rgba(255, 255, 255, 0.1);
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Cals", "Inter", sans-serif;
}

h2,span {
  font-family: "Cals", "Inter", sans-serif;
}

 .img-menu {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bento-grid-container{
  display: grid;
  gap: 12px;
  max-width: 1500px;
  margin: 0 auto;
      padding-inline: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}


.bento-grid-container>*{
  /* border: 1px solid red;
   */
}

.bento-grid-container> .item{
  display: grid;
  gap: 12px;
}

.item:nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.item:nth-child(2) {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
}

.item:nth-child(3) {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
 
}

.item:nth-child(4) {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.column-one{
  display: grid;
  /* height: fit-content; */

}

.column-two{
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "ui1 ui2"
    "front front"
    "ui3 ui3"
    "ui4 ui5";
  align-items: stretch;
  height: full;
  gap: 12px;
}
.column-three{
  display: grid;
    height: fit-content;
}
.column-four{
  display: grid;
  height: fit-content;
  gap: 12px;
  align-items:flex-start;
}
.front{
  grid-area: front;
}
.ui3{
  grid-area: ui3;
}
.only-2column {
  display: none;
}
@media (max-width: 1300px) {
  .bento-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
   .only-2column {
    display: block; 
  }
.column-one{
  display: grid;
  grid-template-rows: auto auto 1fr; /* 
    - Primer hijo altura autom치tica 
    - Segundo hijo altura autom치tica 
    - Tercer hijo (GridOculto) ocupa todo el espacio restante 
  */
  height: 100%;
}
  .column-two {
    display: grid;
    grid-template-columns: 1fr; /* 游댳 Una sola columna */
    grid-template-areas: none;  /* 游댳 Quitamos las 치reas para que fluya */
  }

  .column-two > * {
    grid-area: unset; /* 游댳 Cada hijo ocupa su fila */
  }
  .bento-grid-container > .item {
    grid-column: auto;
    grid-row: auto;
  }

  .bento-grid-container > .item.column-three,
  .bento-grid-container > .item:nth-child(3) {
    grid-column: 1 / -1;
  }

  .bento-grid-container > .item.column-four,
  .bento-grid-container > .item:nth-child(4) {
    grid-column: 1 / -1;
  }
}
@media (max-width: 900px) {
    .bento-grid-container {
   grid-template-columns: none;
  }

  .bento-grid-container > .item {
    grid-column: auto;
    grid-row: auto;
  }
 .bento-grid-container > .item.column-three,
  .bento-grid-container > .item:nth-child(1) {
    grid-column: 1 / -1;
  }

   .bento-grid-container > .item.column-three,
  .bento-grid-container > .item:nth-child(2) {
    grid-column: 1 / -1;
  }
  .main-container {
  width: 100%;
}
 .only-2column {
    display: none; 
  }
}
@media (max-width: 400px) {
  .bento-grid-container {
    padding-inline: 10px;
  }
}
h1 {
  font-size: 7.5rem;
  font-weight: 500;
  letter-spacing: -0.2rem;
  line-height: 1;
}

p, li {

    font-family: "Inter", sans-serif;
}

ul{
  font-weight: 200;
  font-size: 1rem;
}



.main-container {
  position: relative;
  transform: translateY(0svh);
  background-color: var(--bg);
  color: var(--fg);
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -1;
}

.hero-section {
  position: relative;
  width: 100%;
  padding: 12rem 6rem 12rem 6rem;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: -1;
}
@media (max-width: 1000px) {
  .hero-section {
    padding: 8rem 2rem 8rem 2rem;
  }
}


section h1 {
  width: 75%;
}



nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  pointer-events: none;
  overflow: hidden;
  z-index: 2;
}

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: all;
  color: var(--menu-fg-secondary);
  z-index: 2;
}

.menu-logo-flex span {
  font-size: 1.5rem;
}
.menu-logo-flex{
  display: inline-flex;
  justify-self: center;
  align-items: center;
  gap: 0.5rem;
}
.menu-toggle-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.menu-toggle-label {
  overflow: hidden;
}

.menu-toggle-label p {
  position: relative;
  transform: translateY(0%);
  will-change: transform;
}

.menu-hamburger-icon {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  border: 1px solid var(--hamburger-icon-border);
  border-radius: 100%;
}

.menu-hamburger-icon span {
  position: absolute;
  width: 15px;
  height: 1.25px;
  background-color: var(--fg);
  transition: all 0.75s cubic-bezier(0.87, 0, 0.13, 1);
  transform-origin: center;
  will-change: transform;
}

.menu-hamburger-icon span:nth-child(1) {
  transform: translateY(-3px);
}

.menu-hamburger-icon span:nth-child(2) {
  transform: translateY(3px);
}

.menu-hamburger-icon.active span:nth-child(1) {
  transform: translateY(0) rotate(45deg) scaleX(1.05);
}

.menu-hamburger-icon.active span:nth-child(2) {
  transform: translateY(0) rotate(-45deg) scaleX(1.05);
}

.menu-overlay,
.menu-overlay-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  color: var(--fg);
  overflow: hidden;
  z-index: 1;
}

.menu-overlay {
  background-color: var(--menu-bg);
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  will-change: clip-path;
}

.menu-overlay-content {
  display: flex;
  transform: translateY(-50%);
  will-change: transform;
  pointer-events: all;
}

.menu-media-wrapper {
  flex: 2;
  opacity: 0;
  will-change: opacity;
}

.menu-media-wrapper img {
  opacity: 0.25;
}

.menu-content-wrapper {
  flex: 3;
  position: relative;
  display: flex;
}

.menu-content-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-footer {
  margin: 0 auto;
}

.menu-content-main,
.menu-footer {
  width: 75%;
  padding: 2rem;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.menu-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu-col:nth-child(1) {
  flex: 3;
}

.menu-col:nth-child(2) {
  flex: 2;
}

.menu-link a {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  color: var(--fg);
}

.menu-tag a,
.menu-footer p {
  color: var(--menu-fg-secondary);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
}

.line {
  position: relative;
  will-change: transform;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
    letter-spacing: -0.05rem;
  }

  section h1 {
    width: 100%;
  }

  .menu-media-wrapper {
    display: none;
  }

  .menu-content-main,
  .menu-footer {
    width: 100%;
  }

  .menu-content-main {
    top: 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
  }

  .menu-link a {
    font-size: 3rem;
    text-decoration: none;
  color: var(--fg);
  
  font-weight: 500;
  }

  .menu-tag a {
    font-size: 1.25rem;
    text-decoration: none;
  color: var(--fg);
  
  font-weight: 500;
  }
}
.loader {
      display: block;     
      height: auto;
      overflow: visible;
      position: relative;
      margin-bottom: 6px;
    }
.path {
      fill: none;
    }
    .loader .dash .path {
      stroke: rgba(255, 255, 255, 0.1);
      
      stroke-linecap: round;
      pathLength: 360;
    }
    .logopr .path {
      fill:transparent;
      transition: fill 0.6s ease;
    }
    .logocontainer:hover .path:not(.dash-normal):not(.dash-reverse) {
  fill: rgba(252, 228, 228, 0.7);
}
    .loader:hover line {
      stroke: rgba(10, 24, 33, 0.6);
     
      stroke-linecap: round;
      pathLength: 360;
    }
  .loader line,
.loader circle {
  transition: opacity 0.6s ease;
}

.logocontainer:hover line,
.logocontainer:hover circle {
  opacity: 0;
   transition: opacity 2s ease;
  stroke: rgba(214, 225, 233, 0.6);
}

    /* Normal direction (left to right) */
    .dash-normal {
      animation: dashArray 7s ease-in-out infinite,
                 dashOffset 7s linear infinite;
    }

    /* Reversed direction (right to left) */
    .dash-reverse {
       /* Different color for contrast */
      animation: dashArray 7s ease-in-out infinite,
                 dashOffsetReverse 7s linear infinite;
    }
    /* 
.dash-normal {
      animation: dashArray 7s ease-in-out infinite,
                 dashOffset 3s linear infinite;
    }

    
    .dash-reverse {
    
      animation: dashArray 5s ease-in-out infinite,
                 dashOffsetReverse 7s linear infinite;
    }*/
    @keyframes dashArray {
      0% {
        stroke-dasharray: 0 1 359 0;
      }
      50% {
        stroke-dasharray: 0 359 1 0;
        
      }
      100% {
        stroke-dasharray: 359 1 0 0;
      }
    }

    @keyframes dashOffset {
      0% {
        stroke-dashoffset: -5;
      }
      100% {
        stroke-dashoffset: -365;
      }
    }

    @keyframes dashOffsetReverse {
      0% {
        stroke-dashoffset: 365;
      }
      100% {
        stroke-dashoffset: 5;
      }
    }

    .one-card-div{
      /* From Uiverse.io by Javierrocadev */ 
.uno-card {
  background-color: transparent;
  width: 190px;
  height: 260px;
  perspective: 1000px;
  transform-origin: top left;
  border-radius: 15px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.1s;
  transform-style: preserve-3d;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.uno-card:hover .card-inner {
  transform: rotateY(180deg) rotate(25deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  background-color: #fff;
  color: black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front::after {
  content: "1";
  color: #C90522;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  font-weight: 900;
  width: 170px;
  height: 180px;
  background-color: #ffffff;
  border: 5px solid white;
  border-radius: 850px 150px 850px 150px;
  position: absolute;
  text-shadow: -1px 1px 0 #191F1F,-2px 2px 0 #191F1F,-3px 3px 0 #191F1F,-4px 4px 0 #191F1F,-5px 5px 0 #191F1F,-6px 6px 0 #191F1F,-7px 7px 0 #191F1F,-8px 8px 0 #191F1F,-9px 9px 0 #191F1F;
}

.front-bg {
  width: 90%;
  height: 90%;
  background: #C90522;
  border-radius: 15px;
}

.front-bg::after {
  content: "1";
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 2em;
  color: white;
  font-weight: 900;
  text-shadow: -1px 1px 0 #191F1F,-2px 2px 0 #191F1F,-3px 3px 0 #191F1F,-4px 4px 0 #191F1F,-5px 5px 0 #191F1F;
}

.front-bg::before {
  content: "1";
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 2em;
  color: white;
  font-weight: 900;
  text-shadow: -1px 1px 0 #191F1F,-2px 2px 0 #191F1F,-3px 3px 0 #191F1F,-4px 4px 0 #191F1F,-5px 5px 0 #191F1F;
}

.back {
  background-color: #fff;
  color: white;
  transform: rotateY(180deg);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-bg::before {
  content: "";
  width: 170px;
  height: 180px;
  background-color: #C90522;
  border-radius: 850px 150px 850px 150px;
  position: absolute;
}

.back-bg {
  width: 90%;
  height: 90%;
  background: #191F1F;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uno {
  color: #E5CA22;
  font-size: 5em;
  font-weight: 900;
  letter-spacing: -5px;
  transform: rotate(-25deg);
  text-shadow: -1px 1px 0 #191F1F,-2px 2px 0 #191F1F,-3px 3px 0 #191F1F,-4px 4px 0 #191F1F,-5px 5px 0 #191F1F,-6px 6px 0 #191F1F,-7px 7px 0 #191F1F,-8px 8px 0 #191F1F,-9px 9px 0 #191F1F,-10px 10px 0 #fff,-11px 11px 0 #fff;
}
    }

 @keyframes animation {
      0% {
        transform: translate(0px, 0px);
      }
      25% {
        transform: translate(100px, -50px);
      }
      50% {
        transform: translate(0px, -150px);
      }
      75% {
        transform: translate(-100px, 50px);
      }
      100% {
        transform: translate(0px, 0px);
      }
    }


.animated-before::before {
      animation: animation 10s infinite ease-in-out;
    }
    
.futuristic-pattern {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      145deg,
      rgb(0, 0, 0),
      rgba(35, 35, 35, 0.9),
      rgb(4, 23, 31)
    );
    filter: url(#advanced-texture);
  }


.container-pattern {
  width: 100%;
  height: 100%;
  /* Gradiente lineal para el efecto de fade-in */
  background-image: 
    linear-gradient(to top, 
      rgba(0, 0, 0, 0) 0%, 
      rgba(23, 23, 23, 1) 100%),
    /* Tu patr칩n radial original */
    repeating-radial-gradient(#0c0a0a 80%, #2f312f 90%, #3f4549 90%);
  background-size: 100% 100%, 65px 65px;
  background-position: 0 0, 0 0;
}

.custom-shadows {
  box-shadow: 
    -15px 0 0 0 #323132,
    -35px 0 0 0 #323132;
}


