---
import TShape from "../assets/images/t-shape-no-text.svg"
import ImageLateral from "../assets/images/robotgame.jpg";
import Image1 from "../assets/images/withprize.jpg";
import Image2 from "../assets/images/ponent.png";
import Image3 from "../assets/images/trofeogrande.jpg";
import Image4 from "../assets/images/trofeootro.jpg";
import Image5 from "../assets/images/robot2.jpg";
import Perfil from "../assets/images/perfil-bg.jpg";
import Settup from "../assets/images/about.webp";
---
<div
  class="relative p-0.5 h-full overflow-hidden rounded-xl bg-[#3d3c3d] drop-shadow-xl group"
>
  <div
    class="h-full px-8 pt-16 pb-8 z-[1] flex flex-col items-start gap-3 rounded-lg bg-[#323132]  text-white opacity-90"
  >
  <div class="absolute top-5 left-5 flex gap-1 justify-center  content-center items-center ">
    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-square-rounded-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 2c-.218 0 -.432 .002 -.642 .005l-.616 .017l-.299 .013l-.579 .034l-.553 .046c-4.785 .464 -6.732 2.411 -7.196 7.196l-.046 .553l-.034 .579c-.005 .098 -.01 .198 -.013 .299l-.017 .616l-.004 .318l-.001 .324c0 .218 .002 .432 .005 .642l.017 .616l.013 .299l.034 .579l.046 .553c.464 4.785 2.411 6.732 7.196 7.196l.553 .046l.579 .034c.098 .005 .198 .01 .299 .013l.616 .017l.642 .005l.642 -.005l.616 -.017l.299 -.013l.579 -.034l.553 -.046c4.785 -.464 6.732 -2.411 7.196 -7.196l.046 -.553l.034 -.579c.005 -.098 .01 -.198 .013 -.299l.017 -.616l.005 -.642l-.005 -.642l-.017 -.616l-.013 -.299l-.034 -.579l-.046 -.553c-.464 -4.785 -2.411 -6.732 -7.196 -7.196l-.553 -.046l-.579 -.034a28.058 28.058 0 0 0 -.299 -.013l-.616 -.017l-.318 -.004l-.324 -.001zm2.293 7.293a1 1 0 0 1 1.497 1.32l-.083 .094l-4 4a1 1 0 0 1 -1.32 .083l-.094 -.083l-2 -2a1 1 0 0 1 1.32 -1.497l.094 .083l1.293 1.292l3.293 -3.292z" fill="currentColor" stroke-width="0" /></svg>
    <span class="uppercase leading-none align-middle pt-1 text-xs">¿Quién soy?</span>
    </div>
<!-- content -->
   <img
          src={Perfil.src}
          alt="Persona"
          class="inline-block h-auto w-fit object-cover rounded-xl align-baseline"
        />
<h2 class="text-3xl font-medium">2001. Nacido en el barrio de la Boca, Argentina; criado en Madrid. En STEM desde 2016.</h2>
<p class=" text-2xl text-white/50">Mi nombre es Javier Roca, diseñador y Frontend developer especializado en la maquetación de componentes visuales y llevarlos a la vida mediante código. Tengo experiencia en entornos internacionales y he trabajado en diversos proyectos que combinan diseño y desarrollo.</p>

         
         <img
          src={Settup.src}
          alt="Persona"
          class="inline-block h-auto w-fit object-cover rounded-xl align-baseline"
        />
        

        <p class=" text-2xl text-white/50">Me gusta crear interacciones fluidas y atractivas. En mi tiempo libre, disfruto de series, colaboro al Open Source y participo en eventos.</p>

  </div>

  <div
    class="absolute transition-all duration-500 top-1/2 -left-1/2 group-hover:top-12 group-hover:-left-1/4 h-48 w-56 -z-10 bg-amber-800 blur-[50px]"
  ></div>
</div>