---
import TShape from "../assets/images/t-shape-no-text.svg"
---
<div
  class="relative p-0.5 h-full overflow-hidden rounded-xl bg-[#3d3c3d] drop-shadow-xl group"
>
  <div
    class="h-full px-4 sm:px-8 pt-16 pb-8 z-[1] flex flex-col items-start gap-3 rounded-lg bg-[#323132]  text-white opacity-90"
  >
  <div class="absolute top-5 left-5 flex gap-1 justify-center  content-center items-center ">
    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-square-rounded-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 2c-.218 0 -.432 .002 -.642 .005l-.616 .017l-.299 .013l-.579 .034l-.553 .046c-4.785 .464 -6.732 2.411 -7.196 7.196l-.046 .553l-.034 .579c-.005 .098 -.01 .198 -.013 .299l-.017 .616l-.004 .318l-.001 .324c0 .218 .002 .432 .005 .642l.017 .616l.013 .299l.034 .579l.046 .553c.464 4.785 2.411 6.732 7.196 7.196l.553 .046l.579 .034c.098 .005 .198 .01 .299 .013l.616 .017l.642 .005l.642 -.005l.616 -.017l.299 -.013l.579 -.034l.553 -.046c4.785 -.464 6.732 -2.411 7.196 -7.196l.046 -.553l.034 -.579c.005 -.098 .01 -.198 .013 -.299l.017 -.616l.005 -.642l-.005 -.642l-.017 -.616l-.013 -.299l-.034 -.579l-.046 -.553c-.464 -4.785 -2.411 -6.732 -7.196 -7.196l-.553 -.046l-.579 -.034a28.058 28.058 0 0 0 -.299 -.013l-.616 -.017l-.318 -.004l-.324 -.001zm2.293 7.293a1 1 0 0 1 1.497 1.32l-.083 .094l-4 4a1 1 0 0 1 -1.32 .083l-.094 -.083l-2 -2a1 1 0 0 1 1.32 -1.497l.094 .083l1.293 1.292l3.293 -3.292z" fill="currentColor" stroke-width="0" /></svg>
    <span class="uppercase leading-none align-middle pt-1 text-xs">Mi especialidad</span>
    </div>
<!-- content -->
<h2 class="text-4xl sm:text-6xl font-medium ">Diseñador - Frontend Developer</h2>
<p class=" text-2xl text-white/50">Me especializo en la creación y diseño de componentes, ya sean en un system design o creados desde 0. Me gusta crear experiencias de usuario atractivas y funcionales para llevar al usuario donde necesita ir. Soy un UI Designer / Front-end Developer, que sabe un poco de Back-end y de Infraescturas. </p>
<div class="flex items-center justify-center w-full">
          <div class="group/tooltip-container relative inline-block py-16">
            <TShape class="cursor-pointer w-64 sm:w-full" />
            <div
              class="tip absolute left-20 sm:left-40 top-20 sm:top-10 -skew-x-[16deg] w-fit h-9 before:absolute before:left-0 before:top-0 before:scale-y-0 before:w-[2px] group-hover/tooltip-container:before:scale-y-100 before:origin-bottom-left group-hover/tooltip-container:before:origin-top-right before:h-full before:duration-150 before:bg-orange-800 before:block after:absolute after:top-0 after:left-0 after:duration-150 group-hover/tooltip-container:after:scale-y-100 after:scale-y-0 after:delay-150 after:bg-orange-800 after:origin-bottom-left after:h-full after:w-[2px]"
            >
              <div
                class="bg-orange-800 block absolute left-0 top-0 w-32 h-[2px] scale-x-0 group-hover/tooltip-container:scale-x-100 duration-150 origin-top-left"
              ></div>
              <p
                class="content font-normal translate-y-2 group-hover/tooltip-container:translate-y-0 skew-x-[16deg] absolute text-white -top-full opacity-0 group-hover/tooltip-container:opacity-100 duration-150 whitespace-nowrap ml-2"
              >
                Diseño y Front-end
              </p>
            </div>



            <div
            class="tip absolute left-20 sm:left-40 top-[15.5rem] sm:top-64 skew-x-[16deg] w-fit h-9 before:absolute before:left-0 before:bottom-0 before:scale-y-0 before:w-[2px] group-hover/tooltip-container:before:scale-y-100 before:origin-top-left group-hover/tooltip-container:before:origin-bottom-right before:h-full before:duration-150 before:bg-orange-800 before:block after:absolute after:bottom-0 after:left-0 after:duration-150 group-hover/tooltip-container:after:scale-y-100 after:scale-y-0 after:delay-150 after:bg-orange-800 after:origin-top-left after:h-full after:w-[2px]"
          >
            <div
              class="bg-orange-800 block absolute left-0 bottom-0 w-32 h-[2px] scale-x-0 group-hover/tooltip-container:scale-x-100 duration-150 origin-bottom-left"
            ></div>
            <p
              class="content font-normal translate-y-2 group-hover/tooltip-container:translate-y-0 -skew-x-[16deg] absolute top-1 left-4 text-white bottom-full opacity-0 group-hover/tooltip-container:opacity-100 duration-150 whitespace-nowrap ml-2"
            >
            Despliegue con Azure y Aws
            </p>
          </div>





            <div
  class="tip absolute right-28 sm:right-32 bottom-16 sm:bottom-6  -skew-x-[16deg] w-fit h-12 before:absolute before:right-0 before:bottom-0 before:scale-y-0 before:w-[2px] group-hover/tooltip-container:before:scale-y-100 before:origin-top-right group-hover/tooltip-container:before:origin-bottom-left before:h-full before:duration-150 before:bg-orange-800 before:block after:absolute after:bottom-0 after:right-0 after:duration-150 group-hover/tooltip-container:after:scale-y-100 after:scale-y-0 after:delay-150 after:bg-orange-800 after:origin-top-right after:h-full after:w-[2px]"
>
  <div
    class="bg-orange-800 block absolute right-0 bottom-0 w-32 h-[2px] scale-x-0 group-hover/tooltip-container:scale-x-100 duration-150 origin-bottom-right"
  ></div>
  <p
    class="content font-normal translate-y-2 group-hover/tooltip-container:translate-y-0 skew-x-[16deg] absolute top-4 right-2 text-white bottom-full opacity-0 group-hover/tooltip-container:opacity-100 duration-150 whitespace-nowrap mr-2  text-right"
  >
    Conocimientos básicos
  </p>
</div>


          </div>
        </div>
        <p class=" text-2xl text-white/50">Si quieres un diseñador-Frontend developer o un Full Stack Developer que combine diseño y desarrollo con un extra, no busques más.</p>

  </div>

  <div
    class="absolute transition-all duration-500 top-1/2 -left-1/2 group-hover:top-12 group-hover:-left-1/4 h-48 w-56 -z-10 bg-amber-800 blur-[50px]"
  ></div>
</div>