---

---
<div class="w-80 h-48 group bg-neutral-100 p-4 overflow-hidden relative rounded-xl ">
  <div class=" grid grid-cols-3  place-items-center  transition-all duration-300 w-max absolute left-1/2 transform -translate-x-1/2 ">

    <!-- poner  grid-rows-3 para espacio igual siempre  -->
    <div class="flex justify-center  duration-[2000ms] p-2 group-hover:blur-xs  border-neutral-400 border-b-2 border-r-2 rounded-br-md items-center">
       <button class="group-hover:-translate-4 duration-500 flex w-fit items-center gap-4 rounded-md border-2 border-dotted border-neutral-300 p-2 text-white">
            <div class="h-0.5 w-20 shrink-0 rounded-full bg-neutral-300"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 stroke-neutral-300">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
    </div>
    <div class="group-hover:-translate-y-4 group-hover:blur-xs duration-500 w-full">
<button class=" duration-[2000ms] flex w-full items-center justify-center gap-4 rounded-md border-2 border-dotted border-neutral-300 p-2 text-white">
            <div class=" h-0.5 w-20 shrink-0 rounded-full bg-neutral-300"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 stroke-neutral-300">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
    </div>
   
    <div  class="flex justify-center  duration-[2000ms] p-2 group-hover:blur-xs border-neutral-400 border-b-2 border-l-2 rounded-bl-md items-center">
       <button class="group-hover:translate-x-4 group-hover:-translate-y-4 duration-500 flex w-fit items-center gap-4 rounded-md border-2 border-dotted border-neutral-300 p-2 text-white">
            <div class="h-0.5 w-20 shrink-0 rounded-full bg-neutral-300"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 stroke-neutral-300">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
    </div>





 <div  class="flex justify-center group-hover:blur-xs  duration-[2000ms] px-2  border-dotted items-center ">
       <button class="group-hover:-translate-x-4 duration-500 flex w-fit items-center gap-4 rounded-md border-2 border-dotted border-neutral-300 p-2 text-white">
            <div class="h-0.5 w-20 shrink-0 rounded-full bg-neutral-300"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 stroke-neutral-300">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
    </div> <button class="flex w-full items-center justify-center gap-4 rounded-md border-2 bg-neutral-800 border-neutral-800 p-2 text-white">
            <div class="h-0.5 w-20 shrink-0 rounded-full bg-white"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 stroke-white">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
           <div  class="flex justify-center group-hover:blur-xs  duration-[2000ms] px-2  border-dotted items-center  ">
       <button class="group-hover:translate-x-4 duration-500 flex w-fit items-center gap-4 rounded-md border-2 border-dotted border-neutral-300 p-2 text-white">
            <div class="h-0.5 w-20 shrink-0 rounded-full bg-neutral-300"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 stroke-neutral-300">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
    </div>







   <div  class="flex justify-center   p-2 group-hover:blur-xs duration-[2000ms] border-neutral-400 border-t-2 border-r-2 rounded-tr-md items-center">
       <button class="group-hover:-translate-x-4 group-hover:translate-y-4 duration-500 flex w-fit items-center gap-4 rounded-md border-2 border-dotted border-neutral-300 p-2 text-white">
            <div class="h-0.5 w-20 shrink-0 rounded-full bg-neutral-300"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 stroke-neutral-300">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
    </div>
     <div class="group-hover:translate-y-4 group-hover:blur-xs duration-500 w-full">
    <button class=" duration-[2000ms] flex w-full items-center justify-center gap-4 rounded-md border-2 border-dotted border-neutral-300 p-2 text-white">
            <div class="h-0.5 w-20 shrink-0 rounded-full bg-neutral-300"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 stroke-neutral-300">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
     </div>
    <div  class="flex justify-center  duration-[2000ms] p-2 group-hover:blur-xs border-neutral-400 border-t-2 border-l-2 rounded-tl-md items-center">
       <button class="group-hover:translate-4 group-hover:blur-xs duration-500 flex w-fit items-center gap-4 rounded-md border-2 border-dotted border-neutral-300 p-2 text-white">
            <div class="h-0.5 w-20 shrink-0 rounded-full bg-neutral-300"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 stroke-neutral-300">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
    </div> 

    
  </div>
  
</div>