---

---

<div
  class="relative h-full p-0.5 overflow-hidden rounded-xl bg-[#3d3c3d] drop-shadow-xl group"
>
  <div
    class="p-16 z-[1] h-full flex flex-col items-center justify-center gap-3 rounded-lg bg-[#323132] text-white opacity-90"
  >
    <div
      class="absolute top-5 left-5 flex gap-1 justify-center content-center items-center"
    >
      <svg
        class="w-4 h-4"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="icon icon-tabler icons-tabler-filled icon-tabler-square-rounded-check"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 2c-.218 0 -.432 .002 -.642 .005l-.616 .017l-.299 .013l-.579 .034l-.553 .046c-4.785 .464 -6.732 2.411 -7.196 7.196l-.046 .553l-.034 .579c-.005 .098 -.01 .198 -.013 .299l-.017 .616l-.004 .318l-.001 .324c0 .218 .002 .432 .005 .642l.017 .616l.013 .299l.034 .579l.046 .553c.464 4.785 2.411 6.732 7.196 7.196l.553 .046l.579 .034c.098 .005 .198 .01 .299 .013l.616 .017l.642 .005l.642 -.005l.616 -.017l.299 -.013l.579 -.034l.553 -.046c4.785 -.464 6.732 -2.411 7.196 -7.196l.046 -.553l.034 -.579c.005 -.098 .01 -.198 .013 -.299l.017 -.616l.005 -.642l-.005 -.642l-.017 -.616l-.013 -.299l-.034 -.579l-.046 -.553c-.464 -4.785 -2.411 -6.732 -7.196 -7.196l-.553 -.046l-.579 -.034a28.058 28.058 0 0 0 -.299 -.013l-.616 -.017l-.318 -.004l-.324 -.001zm2.293 7.293a1 1 0 0 1 1.497 1.32l-.083 .094l-4 4a1 1 0 0 1 -1.32 .083l-.094 -.083l-2 -2a1 1 0 0 1 1.32 -1.497l.094 .083l1.293 1.292l3.293 -3.292z"
          fill="currentColor"
          stroke-width="0"></path></svg
      >
      <span class="uppercase leading-none align-middle pt-1 text-xs"
        >Uiverse</span
      >
    </div>
    <!-- content -->
   <div class="w-full h-48 group bg-neutral-100 p-4 overflow-hidden flex justify-center relative rounded-xl ">
  <div class=" grid grid-cols-3  place-items-center  transition-all duration-300 w-max absolute left-1/2 transform -translate-x-1/2 ">

    <!-- poner  grid-rows-3 para espacio igual siempre  -->
    <div class="flex justify-center  duration-[2000ms] p-2 group-hover:blur-xs  border-neutral-400 border-b-2 border-r-2 rounded-br-md items-center">
       <button class="group-hover:-translate-4 duration-500 flex w-fit items-center gap-4 rounded-md border-2 border-dotted border-neutral-300 p-2 text-white">
            <div class="h-0.5 w-20 shrink-0 rounded-full bg-neutral-300"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 stroke-neutral-300">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
    </div>
    <div class="group-hover:-translate-y-4 group-hover:blur-xs duration-500 w-full">
<button class=" duration-[2000ms] flex w-full items-center justify-center gap-4 rounded-md border-2 border-dotted border-neutral-300 p-2 text-white">
            <div class=" h-0.5 w-20 shrink-0 rounded-full bg-neutral-300"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 stroke-neutral-300">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
    </div>
   
    <div  class="flex justify-center  duration-[2000ms] p-2 group-hover:blur-xs border-neutral-400 border-b-2 border-l-2 rounded-bl-md items-center">
       <button class="group-hover:translate-x-4 group-hover:-translate-y-4 duration-500 flex w-fit items-center gap-4 rounded-md border-2 border-dotted border-neutral-300 p-2 text-white">
            <div class="h-0.5 w-20 shrink-0 rounded-full bg-neutral-300"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 stroke-neutral-300">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
    </div>





 <div  class="flex justify-center group-hover:blur-xs  duration-[2000ms] px-2  border-dotted items-center ">
       <button class="group-hover:-translate-x-4 duration-500 flex w-fit items-center gap-4 rounded-md border-2 border-dotted border-neutral-300 p-2 text-white">
            <div class="h-0.5 w-20 shrink-0 rounded-full bg-neutral-300"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 stroke-neutral-300">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
    </div> <button class="flex w-full items-center justify-center gap-4 rounded-md border-2 bg-neutral-800 border-neutral-800 p-2 text-white">
            <div class="h-0.5 w-20 shrink-0 rounded-full bg-white"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 stroke-white">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
           <div  class="flex justify-center group-hover:blur-xs  duration-[2000ms] px-2  border-dotted items-center  ">
       <button class="group-hover:translate-x-4 duration-500 flex w-fit items-center gap-4 rounded-md border-2 border-dotted border-neutral-300 p-2 text-white">
            <div class="h-0.5 w-20 shrink-0 rounded-full bg-neutral-300"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 stroke-neutral-300">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
    </div>







   <div  class="flex justify-center   p-2 group-hover:blur-xs duration-[2000ms] border-neutral-400 border-t-2 border-r-2 rounded-tr-md items-center">
       <button class="group-hover:-translate-x-4 group-hover:translate-y-4 duration-500 flex w-fit items-center gap-4 rounded-md border-2 border-dotted border-neutral-300 p-2 text-white">
            <div class="h-0.5 w-20 shrink-0 rounded-full bg-neutral-300"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 stroke-neutral-300">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
    </div>
     <div class="group-hover:translate-y-4 group-hover:blur-xs duration-500 w-full">
    <button class=" duration-[2000ms] flex w-full items-center justify-center gap-4 rounded-md border-2 border-dotted border-neutral-300 p-2 text-white">
            <div class="h-0.5 w-20 shrink-0 rounded-full bg-neutral-300"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 stroke-neutral-300">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
     </div>
    <div  class="flex justify-center  duration-[2000ms] p-2 group-hover:blur-xs border-neutral-400 border-t-2 border-l-2 rounded-tl-md items-center">
       <button class="group-hover:translate-4 group-hover:blur-xs duration-500 flex w-fit items-center gap-4 rounded-md border-2 border-dotted border-neutral-300 p-2 text-white">
            <div class="h-0.5 w-20 shrink-0 rounded-full bg-neutral-300"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 stroke-neutral-300">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
    </div> 

    
  </div>
  
</div>



  </div>

  <div
    class="absolute transition-all duration-500 top-1/2 -left-1/2 group-hover:top-12 group-hover:-left-1/4 h-48 w-56 -z-10 bg-amber-800 blur-[50px]"
  >
  </div>
</div>
