---

---

<div
  class="relative h-full p-0.5 overflow-hidden rounded-xl bg-[#3d3c3d] drop-shadow-xl group"
>
  <div
    class="p-16 z-[1] h-full flex flex-col items-center justify-center gap-3 rounded-lg bg-[#323132] text-white opacity-90"
  >
    <div
      class="absolute top-5 left-5 flex gap-1 justify-center content-center items-center"
    >
      <svg
        class="w-4 h-4"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="icon icon-tabler icons-tabler-filled icon-tabler-square-rounded-check"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 2c-.218 0 -.432 .002 -.642 .005l-.616 .017l-.299 .013l-.579 .034l-.553 .046c-4.785 .464 -6.732 2.411 -7.196 7.196l-.046 .553l-.034 .579c-.005 .098 -.01 .198 -.013 .299l-.017 .616l-.004 .318l-.001 .324c0 .218 .002 .432 .005 .642l.017 .616l.013 .299l.034 .579l.046 .553c.464 4.785 2.411 6.732 7.196 7.196l.553 .046l.579 .034c.098 .005 .198 .01 .299 .013l.616 .017l.642 .005l.642 -.005l.616 -.017l.299 -.013l.579 -.034l.553 -.046c4.785 -.464 6.732 -2.411 7.196 -7.196l.046 -.553l.034 -.579c.005 -.098 .01 -.198 .013 -.299l.017 -.616l.005 -.642l-.005 -.642l-.017 -.616l-.013 -.299l-.034 -.579l-.046 -.553c-.464 -4.785 -2.411 -6.732 -7.196 -7.196l-.553 -.046l-.579 -.034a28.058 28.058 0 0 0 -.299 -.013l-.616 -.017l-.318 -.004l-.324 -.001zm2.293 7.293a1 1 0 0 1 1.497 1.32l-.083 .094l-4 4a1 1 0 0 1 -1.32 .083l-.094 -.083l-2 -2a1 1 0 0 1 1.32 -1.497l.094 .083l1.293 1.292l3.293 -3.292z"
          fill="currentColor"
          stroke-width="0"></path></svg
      >
      <span class="uppercase leading-none align-middle pt-1 text-xs"
        >Uiverse</span
      >
    </div>
    <!-- content -->
   <div
  class="relative h-80 w-64 overflow-hidden rounded-xl bg-[#3d3c3d] drop-shadow-xl group"
>
  <div
    class="absolute inset-0.5 z-[1] flex flex-col items-start justify-evenly gap-6 rounded-lg bg-[#323132] p-4 text-white opacity-90"
  >
    <div
      class="h-full w-full overflow-hidden rounded-md bg-white flex justify-center items-center relative before:absolute before:top-1/2 before:-left-48 before:-translate-x-12 before:-translate-y-12 before:w-full before:h-24 before:bg-neutral-100 before:z-10 group-hover:before:left-12 before:transition-all before:duration-700 before:border-y before:border-neutral-200"
    >
      <div
        class="flex z-20 gap-2.5 translate-x-32 group-hover:-translate-x-40 duration-1000 transition-all"
      >
        <button
          class="flex z-10 w-32 items-center justify-center gap-4 rounded-md border-2 bg-neutral-800 border-neutral-800 p-2 text-white group-hover:opacity-0 duration-1000 transition-all"
        >
          <div class="h-0.5 w-20 shrink-0 rounded-full bg-white"></div>
          <svg
            class="shrink-0 stroke-white"
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
            height="24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path fill="none" d="M0 0h24v24H0z" stroke="none"></path>
            <path d="M5 12l14 0"></path>
            <path d="M13 18l6 -6"></path>
            <path d="M13 6l6 6"></path>
          </svg>
        </button>
        <button
          class="flex z-10 w-32 items-center justify-center gap-4 rounded-md border-2 bg-neutral-600 border-neutral-800 p-2 text-white group-hover:opacity-0 duration-1000 transition-all"
        >
          <div class="h-0.5 w-20 shrink-0 rounded-full bg-white"></div>
          <svg
            class="shrink-0 stroke-white"
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
            height="24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path fill="none" d="M0 0h24v24H0z" stroke="none"></path>
            <path d="M5 12l14 0"></path>
            <path d="M13 18l6 -6"></path>
            <path d="M13 6l6 6"></path>
          </svg>
        </button>
        <div class="relative">
          <button
            class="flex z-10 w-32 items-center justify-center gap-4 rounded-md border-2 bg-neutral-400 group-hover:bg-sky-700 border-neutral-800 p-2 text-white group-hover:scale-125 duration-1000 transition-all"
          >
            <div class="h-0.5 w-20 shrink-0 rounded-full bg-white"></div>
            <svg
              class="shrink-0 stroke-white"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              viewBox="0 0 24 24"
              height="24"
              width="24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path fill="none" d="M0 0h24v24H0z" stroke="none"></path>
              <path d="M5 12l14 0"></path>
              <path d="M13 18l6 -6"></path>
              <path d="M13 6l6 6"></path>
            </svg>
          </button>

          <div
            class="absolute top-4 left-24 duration-700 group-hover:delay-700 transition-all translate-y-28 translate-x-20 group-hover:translate-x-0 group-hover:translate-y-0"
          >
            <svg
              class="w-12 h-12 stroke-amber-300 duration-1000 transition-all group-hover:translate-0 group-hover:delay-1000 group-hover:scale-75"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M3 12l3 0"></path>
              <path d="M12 3l0 3"></path>
              <path d="M7.8 7.8l-2.2 -2.2"></path>
              <path d="M16.2 7.8l2.2 -2.2"></path>
              <path d="M7.8 16.2l-2.2 2.2"></path>
              <path d="M12 12l9 3l-4 2l-2 4l-3 -9"></path>
            </svg>
          </div>
        </div>
        <button
          class="flex z-10 w-32 items-center justify-center gap-4 rounded-md border-2 bg-neutral-600 border-neutral-800 p-2 text-white group-hover:translate-x-4 duration-1000 transition-all"
        >
          <div class="h-0.5 w-20 shrink-0 rounded-full bg-white"></div>
          <svg
            class="shrink-0 stroke-white"
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
            height="24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path fill="none" d="M0 0h24v24H0z" stroke="none"></path>
            <path d="M5 12l14 0"></path>
            <path d="M13 18l6 -6"></path>
            <path d="M13 6l6 6"></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="flex justify-between w-full items-center">
      <div class="">
        <p class="text-xl font-bold">Buttons</p>
        <p class="">3 variants</p>
      </div>
      <svg
        class="w-8 h-8 -translate-x-4 opacity-0 group-hover:opacity-100 group-hover:translate-x-0 duration-300 transition-all"
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        viewBox="0 0 24 24"
        height="24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path fill="none" d="M0 0h24v24H0z" stroke="none"></path>
        <path d="M5 12l14 0"></path>
        <path d="M13 18l6 -6"></path>
        <path d="M13 6l6 6"></path>
      </svg>
    </div>
  </div>
  <div
    class="absolute transition-all duration-500 top-1/2 -left-1/2 group-hover:top-12 group-hover:-left-1/4 h-48 w-56 -z-10 bg-amber-800 blur-[50px]"
  ></div>
</div>



  </div>

  <div
    class="absolute transition-all duration-500 top-1/2 -left-1/2 group-hover:top-12 group-hover:-left-1/4 h-48 w-56 -z-10 bg-amber-800 blur-[50px]"
  >
  </div>
</div>
