---
import UIverseLogo from "../assets/images/logo-uiverse-linear.svg";
import Logo from "../assets/images/logo-small-line.svg";
---

<div class="hero-section">
  <div>
    <div class="text-xl font-bold font-inter text-white/75 leading-tight">
      <p class="text-2xl font-medium">
        Soy Javier Roca
        <Logo class="h-[0.6em] w-auto inline-block fill-white/75" />
      </p>
    </div>
    <div class="text-8xl font-bold max-w-[1000px] text-white leading-tight">
      UI Designer y Frontend Developer en Madrid.
    </div>
    <div class="text-2xl font-bold text-white leading-tight">
              <p class="font-light text-[20px]">  En mi tiempo libre, me gusta crear componentes en
                <img 
                    src={UIverseLogo.src} 
                    alt="MyPublicInbox Logo" 
                    class="inline-block h-[.6em] w-auto object-cover -mx-0.5 align-baseline"
                > 
                . Encuentra alguno de ellos en este portfolio.</p>
            </div>
  </div>
  <div></div>
</div>
