---

import CreativeProcess from "./CreativeProcess.astro";
import CTA from "./CTA.astro";

import ProcessHero from "./ProcessHero.astro";
import WhyCreate from "./WhyCreate.astro";

---

<div class="main-container">
  <ProcessHero />
    <div class="process">
        <WhyCreate />
        <CreativeProcess />
      </div>
<CTA />

</div>
