---
import AboutMeComponent from "./AboutMeComponent.astro";
import AboutMeHero from "./AboutMeHero.astro";
import CreativeProcess from "./CreativeProcess.astro";
import CTA from "./CTA.astro";
import GridPhoto from "./GridPhoto.astro";
import Hero from "./Hero.astro";
import Hobbies from "./Hobbies.astro";
import ProcessHero from "./ProcessHero.astro";
import Steam from "./Steam.astro";
---

<div class="main-container">
  <ProcessHero />
 
</div>
