---
import TShape from "../assets/images/t-shape-no-text.svg";
import Circle from "../assets/images/circle-arrow-up-right.svg";
import Ireland from "../assets/images/ireland.svg";
import Spain from "../assets/images/spain.svg";
import Uiverse from "../assets/images/uiverse-logo.svg";
import Relentless from "../assets/images/relentless-logo.svg";
---

<div
  class="relative p-0.5 h-fit overflow-hidden rounded-xl bg-[#3d3c3d] drop-shadow-xl group/panel"
>
  <div
    class="px-4 py-16 sm:px-8 pt-16 sm:pb-8 h-fit flex flex-col items-start gap-3 rounded-lg bg-[#323132] text-white opacity-90"
  >
    <div
      class="absolute top-5 left-5 flex gap-1 justify-center content-center items-center"
    >
      <svg
        class="w-4 h-4"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="icon icon-tabler icons-tabler-filled icon-tabler-square-rounded-check"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 2c-.218 0 -.432 .002 -.642 .005l-.616 .017l-.299 .013l-.579 .034l-.553 .046c-4.785 .464 -6.732 2.411 -7.196 7.196l-.046 .553l-.034 .579c-.005 .098 -.01 .198 -.013 .299l-.017 .616l-.004 .318l-.001 .324c0 .218 .002 .432 .005 .642l.017 .616l.013 .299l.034 .579l.046 .553c.464 4.785 2.411 6.732 7.196 7.196l.553 .046l.579 .034c.098 .005 .198 .01 .299 .013l.616 .017l.642 .005l.642 -.005l.616 -.017l.299 -.013l.579 -.034l.553 -.046c4.785 -.464 6.732 -2.411 7.196 -7.196l.046 -.553l.034 -.579c.005 -.098 .01 -.198 .013 -.299l.017 -.616l.005 -.642l-.005 -.642l-.017 -.616l-.013 -.299l-.034 -.579l-.046 -.553c-.464 -4.785 -2.411 -6.732 -7.196 -7.196l-.553 -.046l-.579 -.034a28.058 28.058 0 0 0 -.299 -.013l-.616 -.017l-.318 -.004l-.324 -.001zm2.293 7.293a1 1 0 0 1 1.497 1.32l-.083 .094l-4 4a1 1 0 0 1 -1.32 .083l-.094 -.083l-2 -2a1 1 0 0 1 1.32 -1.497l.094 .083l1.293 1.292l3.293 -3.292z"
          fill="currentColor"
          stroke-width="0"></path></svg
      >
      <span class="uppercase leading-none align-middle pt-1 text-xs"
        >Mi trayectoria</span
      >
    </div>
    <!-- content -->
    <div class="flex flex-col gap-10 w-full">
      <div class="flex flex-col gap-6 group  ">
        <div class="flex flex-col gap-1 ">
          <div class="flex flex-row gap-4 items-center justify-start ">
            <img
              class="rounded-xl w-16 p-1"
              src="/images/mpi-logo.png"
            />
            <div>
              <h3 class="font-semibold text-2xl">Software Developer Engineer</h3>
              <div class="flex items-center gap-2">
                <p class="text-white text-lg">Mypublicinbox</p>
                <a
                  href="http://www.mypublicinbox.com"
                  class="duration-300 font-extralight text-base transition-all flex gap-2 underline underline-offset-3 group-hover:text-[#FF4D8A]"
                  >Website <Circle
                    class="duration-300 transition-all rotate-90 group-hover:rotate-0"
                  /></a
                >
              </div>
            </div>
          </div>
          <p class="text-white/70 text-base flex gap-2 sm:flex-row flex-col">
            Jun.2024 - actualidad | España (Remoto) <Spain
              class="w-10 rounded-sm opacity-90"
            />
          </p>
        </div>
        <div class="w-full h-0.5 bg-white/10"></div>
        <ul class="text-white/70 text-base space-y-1">
  <li>
    • Desarrollo de componentes y páginas reutilizables usando <span class="font-semibold text-white/80">React</span> y
    <span class="font-semibold text-white/80">TypeScript</span>.
  </li>
  <li>
    • Implementación de diseños atractivos y funcionales usando <span class="font-semibold text-white/80">Material UI</span>,
    <span class="font-semibold text-white/80">Tailwind</span> y <span class="font-semibold text-white/80">SCSS</span>.
  </li>
  <li>
    • Creación de páginas web usando <span class="font-semibold text-white/80">Bootstrap</span> y <span class="font-semibold text-white/80">Razor</span>.
  </li>
  <li>
    • Trabajo en el backend para integrar soluciones de frontend intuitivas enfocadas en la
    experiencia de usuario.
  </li>
  <li>
    • Pruebas end-to-end con <span class="font-semibold text-white/80">Cypress</span>
  </li>
</ul>

        <div class="flex flex-row justify-start overflow-clip gap-4">
          <img
            class="aspect-video object-cover rounded h-28 border border-text/10"
            src="/images/mpi1.png"
          />
          <img
         class="h-28 border border-text/10 rounded aspect-video [mask-image:linear-gradient(to_right,black,transparent)] [mask-repeat:no-repeat] [mask-size:100%]"
            src="/images/mpi2.png"
          />
        </div>
      </div>

      <div class="flex flex-col gap-6 group w-full">
        <div class="flex flex-col gap-1">
          <div class="flex flex-row gap-4 items-center justify-start">
            <Uiverse class="rounded-xl w-16 h-16 p-1 m-1 bg-black shrink-0" />
            <div>
              <h3 class="font-semibold text-2xl">Front-end Developer intern</h3>
              <div class="flex items-center gap-2">
                <p class="text-white text-lg">Uiverse</p>
                <a
                  href="http://www.uiverse.io"
                  class="duration-300 font-light text-base transition-all flex gap-2 underline underline-offset-3 group-hover:text-[#FF4D8A]"
                  >Website <Circle
                    class="duration-300 transition-all rotate-90 group-hover:rotate-0"
                  /></a
                >
              </div>
            </div>
          </div>
          <p class="text-white/70 text-base flex gap-2 sm:flex-row flex-col">
            Oct.23 - Dic.23 | España (Remoto) <Spain
              class="w-10 rounded-sm opacity-90"
            />
          </p>
        </div>
        <div class="w-full h-0.5 bg-white/10"></div>
        <ul class="text-white/70 text-base space-y-1">
          <li>• <span class="font-semibold text-white/80">Diseño de Páginas y Componentes con Figma</span>: Creación de interfaces y componentes fáciles de usar.</li>
          <li>• <span class="font-semibold text-white/80">Diseño de Plantillas de Correo Electrónico</span></li>
          <li>• Implementación de <span class="font-semibold text-white/80">React</span> + <span class="font-semibold text-white/80">Tailwind</span>: Creación de componentes de React basados en los diseños proporcionados</li>
        </ul>
        <div class="flex flex-row justify-start overflow-clip gap-4">
          <img
            class="aspect-video object-center rounded h-28 border border-text/10"
            src="/images/uiverse-cover.jpg"
          />
       
           <img
  class="h-28 border border-text/10 rounded aspect-video [mask-image:linear-gradient(to_right,black,transparent)] [mask-repeat:no-repeat] [mask-size:100%]"
  src="/images/uiverse1.jpg"
/>
          
        </div>
      </div>

      <div class="flex flex-col gap-6 group w-full">
        <div class="flex flex-col gap-1">
          <div class="flex flex-row gap-4 items-center justify-start">
            <Relentless class="rounded-xl w-16 h-16 p-1 m-1" />
            <div>
              <h3 class="font-semibold text-2xl">Web Developer Internship</h3>
              <div class="flex items-center gap-2">
                <p class="text-white text-lg">Relentless</p>
                <a
                  href="https://www.relentlesenterprise.com/"
                  class="duration-300 font-light text-base transition-all flex gap-2 underline underline-offset-3 group-hover:text-[#FF4D8A]"
                  >Website <Circle
                    class="duration-300 transition-all rotate-90 group-hover:rotate-0"
                  /></a
                >
              </div>
            </div>
          </div>
          <p class="text-white/70 text-base flex gap-2 sm:flex-row flex-col">
            Abr.23 - Jun.23 | Dublín (Físico) <Ireland
              class="w-10 rounded-sm opacity-90"
            />
          </p>
        </div>
        <div class="w-full h-0.5 bg-white/10"></div>
        <ul class="text-white/70 text-base space-y-1">
          <li>• <span class="font-semibold text-white/80">Diseño de páginas web en Figma</span>: Creando diseños de sitios web visualmente atractivos utilizando Figma. Capaz de traducir conceptos de diseño en maquetas digitales y wireframes.</li>
          <li>• <span class="font-semibold text-white/80">Uso de Wordpress (Divi)</span>: Uso de Wordpress(Divi), para el desarrollo de sitios web.</li>
          <li>• <span class="font-semibold text-white/80">Mantenimiento de sitios web</span>: Mantenimiento de sitios web para garantizar un rendimiento óptimo.</li>
        </ul>
        <div class="flex flex-row justify-start overflow-clip gap-4">
          <img
            class="aspect-video rounded h-28 border border-text/10"
            src="/images/relentless1.jpg"
          />
        </div>
      </div>
    </div>
  </div>

  <div
    class="absolute transition-all duration-500 top-1/2 -left-1/2 group-hover/parent:top-12 group-hover/parent:-left-1/4 h-48 w-56 -z-10 bg-amber-800 blur-[50px]"
  >
  </div>
</div>