---
import Logo from '../assets/images/logo-small-line.svg';
import ImageLateral from '../assets/images/menu-media.jpg';
---

<nav > 
    <div class="menu-bar">
      <div class="menu-logo">
        <a href="/" class="menu-logo-flex">

 <svg width="28" height="16" viewBox="0 0 28 16"  class="loader" style="width: 3.1rem; stroke-width: 0.9;">
    <g class="dash">
      <!-- Normal direction -->
      <path class="path dash-normal"  d="M13.0908 1.65039V14.1162C13.0755 14.1274 13.0583 14.1404 13.0391 14.1543C12.9546 14.2153 12.8337 14.3015 12.6895 14.3984C12.4144 14.5833 12.0569 14.8056 11.7041 14.9834C11.2188 15.2212 10.7066 15.4131 10.1719 15.5498C9.53748 15.7119 8.87215 15.7988 8.18652 15.7998H8.16309L7.76562 15.79C3.68605 15.5856 0.415296 12.3421 0.200195 8.29688C0.193912 8.17864 0.291315 8.07247 0.424805 8.07227H6.0459L7.72656 9.74023C7.97466 9.98658 8.37492 9.98654 8.62305 9.74023L10.2334 8.1416C10.3534 8.02249 10.4217 7.86045 10.4219 7.69141V0.322266L13.0908 1.65039ZM19.9033 0.200195L20.2979 0.209961C24.3419 0.414339 27.5864 3.65653 27.7998 7.70312C27.806 7.82143 27.7086 7.92749 27.5752 7.92773H22.0049L20.3428 6.26367C20.0942 6.01484 19.69 6.01484 19.4414 6.26367L17.8486 7.85938C17.7298 7.97836 17.6622 8.13946 17.6621 8.30762V15.6758L15.0176 14.3496V1.88281C15.0328 1.87154 15.0501 1.85874 15.0693 1.84473C15.1531 1.78372 15.273 1.69847 15.416 1.60156C15.6946 1.41277 16.0579 1.18339 16.415 1.00391C16.8895 0.771366 17.3903 0.584672 17.9121 0.450195C18.4623 0.308424 19.0359 0.223598 19.626 0.204102L19.8809 0.200195H19.9033Z" pathLength="360"/>
      
      <!-- Reversed direction -->
      <path class="path dash-reverse" d="M13.0908 1.65039V14.1162C13.0755 14.1274 13.0583 14.1404 13.0391 14.1543C12.9546 14.2153 12.8337 14.3015 12.6895 14.3984C12.4144 14.5833 12.0569 14.8056 11.7041 14.9834C11.2188 15.2212 10.7066 15.4131 10.1719 15.5498C9.53748 15.7119 8.87215 15.7988 8.18652 15.7998H8.16309L7.76562 15.79C3.68605 15.5856 0.415296 12.3421 0.200195 8.29688C0.193912 8.17864 0.291315 8.07247 0.424805 8.07227H6.0459L7.72656 9.74023C7.97466 9.98658 8.37492 9.98654 8.62305 9.74023L10.2334 8.1416C10.3534 8.02249 10.4217 7.86045 10.4219 7.69141V0.322266L13.0908 1.65039ZM19.9033 0.200195L20.2979 0.209961C24.3419 0.414339 27.5864 3.65653 27.7998 7.70312C27.806 7.82143 27.7086 7.92749 27.5752 7.92773H22.0049L20.3428 6.26367C20.0942 6.01484 19.69 6.01484 19.4414 6.26367L17.8486 7.85938C17.7298 7.97836 17.6622 8.13946 17.6621 8.30762V15.6758L15.0176 14.3496V1.88281C15.0328 1.87154 15.0501 1.85874 15.0693 1.84473C15.1531 1.78372 15.273 1.69847 15.416 1.60156C15.6946 1.41277 16.0579 1.18339 16.415 1.00391C16.8895 0.771366 17.3903 0.584672 17.9121 0.450195C18.4623 0.308424 19.0359 0.223598 19.626 0.204102L19.8809 0.200195H19.9033Z" pathLength="360"/>
      
      <path class="path" stroke="rgba(33,69,103,0.1)"  fill="#171717" d="M13.0908 1.65039V14.1162C13.0755 14.1274 13.0583 14.1404 13.0391 14.1543C12.9546 14.2153 12.8337 14.3015 12.6895 14.3984C12.4144 14.5833 12.0569 14.8056 11.7041 14.9834C11.2188 15.2212 10.7066 15.4131 10.1719 15.5498C9.53748 15.7119 8.87215 15.7988 8.18652 15.7998H8.16309L7.76562 15.79C3.68605 15.5856 0.415296 12.3421 0.200195 8.29688C0.193912 8.17864 0.291315 8.07247 0.424805 8.07227H6.0459L7.72656 9.74023C7.97466 9.98658 8.37492 9.98654 8.62305 9.74023L10.2334 8.1416C10.3534 8.02249 10.4217 7.86045 10.4219 7.69141V0.322266L13.0908 1.65039ZM19.9033 0.200195L20.2979 0.209961C24.3419 0.414339 27.5864 3.65653 27.7998 7.70312C27.806 7.82143 27.7086 7.92749 27.5752 7.92773H22.0049L20.3428 6.26367C20.0942 6.01484 19.69 6.01484 19.4414 6.26367L17.8486 7.85938C17.7298 7.97836 17.6622 8.13946 17.6621 8.30762V15.6758L15.0176 14.3496V1.88281C15.0328 1.87154 15.0501 1.85874 15.0693 1.84473C15.1531 1.78372 15.273 1.69847 15.416 1.60156C15.6946 1.41277 16.0579 1.18339 16.415 1.00391C16.8895 0.771366 17.3903 0.584672 17.9121 0.450195C18.4623 0.308424 19.0359 0.223598 19.626 0.204102L19.8809 0.200195H19.9033Z" pathLength="360"/>
    </g>
  </svg>

          <span class="hidden sm:block">Javierrocadev</span></a>
      </div>
      <div class="menu-toggle-btn">
        <div class="menu-toggle-label"><p>Menu</p></div>
        <div class="menu-hamburger-icon">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <div class="menu-overlay">
      <div class="menu-overlay-content">
        <div class="menu-media-wrapper">
          <img src={ImageLateral.src} alt="Menu media" class="img-menu"/>
        </div>
        <div class="menu-content-wrapper">
          <div class="menu-content-main">
            <div class="menu-col">
              <div class="menu-link"><a href="/">Index</a></div>
              <div class="menu-link"><a href="/aboutme">About me</a></div>
              <div class="menu-link"><a href="/process">Proceso</a></div>
            </div>
  
            <div class="menu-col">
              <div class="menu-tag"><a href="#">Linkedin</a></div>
              <div class="menu-tag"><a href="#">Uiverse</a></div>
              <div class="menu-tag"><a href="#">Javierrocadev</a></div>
            </div>
          </div>
          <div class="menu-footer">
            <div class="menu-col">
              <!-- <p>Es, Ir, Arg </p> -->
            </div>
            <div class="menu-col">
              <p>javierroca.dev@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <script src="../scripts/navMenu.js" ></script>