---
import TShape from "../assets/images/t-shape-no-text.svg"
---

    <div class="relative group bg-white py-20 px-10 m-2 my-4 rounded-xl">
      <div class="absolute top-6 left-5 z-10 flex items-center justify-center gap-1.5">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" class="mb-1 w-5 h-5">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18.333 2c1.96 0 3.56 1.537 3.662 3.472l.005 .195v12.666c0 1.96 -1.537 3.56 -3.472 3.662l-.195 .005h-12.666a3.667 3.667 0 0 1 -3.662 -3.472l-.005 -.195v-12.666c0 -1.96 1.537 -3.56 3.472 -3.662l.195 -.005h12.666zm-2.626 7.293a1 1 0 0 0 -1.414 0l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.32 1.497l2 2l.094 .083a1 1 0 0 0 1.32 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" />
          </svg>
          <span class="font-bold text-md leading-tight ">Full Stack Developer</span>
        </div>
              <h1 class="text-4xl mb-6">¿Full Stack Developer?</h1>
        <div class="flex flex-col gap-6">
        <p class="leading-7">Diseño, Front-end, Back-end, Infraestructura, Despliegue... ¿Qué significa ser Full Stack hoy en día? Para mí, es representar el modelo de T-shaped skills. Mi especialidad está en el diseño de interfaces (UI) y el desarrollo Front-end, donde me enfoco en la parte visual del desarrollo. A esto, se suma mi capacidad para construir y trabajar con Back-end, junto con conocimientos en despliegue en la nube usando AWS y Azure.</p>
        <div class="flex items-center">
          <div class="group/tooltip-container relative inline-block py-16">
            <TShape class="cursor-pointer" />
            <div
              class="tip absolute left-40 top-10 -skew-x-[16deg] w-fit h-9 before:absolute before:left-0 before:top-0 before:scale-y-0 before:w-[2px] group-hover/tooltip-container:before:scale-y-100 before:origin-bottom-left group-hover/tooltip-container:before:origin-top-right before:h-full before:duration-150 before:bg-gray-800 before:block after:absolute after:top-0 after:left-0 after:duration-150 group-hover/tooltip-container:after:scale-y-100 after:scale-y-0 after:delay-150 after:bg-gray-800 after:origin-bottom-left after:h-full after:w-[2px]"
            >
              <div
                class="bg-gray-800 block absolute left-0 top-0 w-32 h-[2px] scale-x-0 group-hover/tooltip-container:scale-x-100 duration-150 origin-top-left"
              ></div>
              <p
                class="content font-normal translate-y-2 group-hover/tooltip-container:translate-y-0 skew-x-[16deg] absolute text-gray-500 -top-full opacity-0 group-hover/tooltip-container:opacity-100 duration-150 whitespace-nowrap ml-2"
              >
                Diseño y Front-end
              </p>
            </div>



            <div
            class="tip absolute left-40 top-64 skew-x-[16deg] w-fit h-9 before:absolute before:left-0 before:bottom-0 before:scale-y-0 before:w-[2px] group-hover/tooltip-container:before:scale-y-100 before:origin-top-left group-hover/tooltip-container:before:origin-bottom-right before:h-full before:duration-150 before:bg-gray-800 before:block after:absolute after:bottom-0 after:left-0 after:duration-150 group-hover/tooltip-container:after:scale-y-100 after:scale-y-0 after:delay-150 after:bg-gray-800 after:origin-top-left after:h-full after:w-[2px]"
          >
            <div
              class="bg-gray-800 block absolute left-0 bottom-0 w-32 h-[2px] scale-x-0 group-hover/tooltip-container:scale-x-100 duration-150 origin-bottom-left"
            ></div>
            <p
              class="content font-normal translate-y-2 group-hover/tooltip-container:translate-y-0 -skew-x-[16deg] absolute top-1 left-4 text-gray-500 bottom-full opacity-0 group-hover/tooltip-container:opacity-100 duration-150 whitespace-nowrap ml-2"
            >
            Despliegue con Azure y Aws
            </p>
          </div>





            <div
  class="tip absolute  right-32 bottom-6  -skew-x-[16deg] w-fit h-12 before:absolute before:right-0 before:bottom-0 before:scale-y-0 before:w-[2px] group-hover/tooltip-container:before:scale-y-100 before:origin-top-right group-hover/tooltip-container:before:origin-bottom-left before:h-full before:duration-150 before:bg-gray-800 before:block after:absolute after:bottom-0 after:right-0 after:duration-150 group-hover/tooltip-container:after:scale-y-100 after:scale-y-0 after:delay-150 after:bg-gray-800 after:origin-top-right after:h-full after:w-[2px]"
>
  <div
    class="bg-gray-800 block absolute right-0 bottom-0 w-32 h-[2px] scale-x-0 group-hover/tooltip-container:scale-x-100 duration-150 origin-bottom-right"
  ></div>
  <p
    class="content font-normal translate-y-2 group-hover/tooltip-container:translate-y-0 skew-x-[16deg] absolute top-4 right-2 text-gray-500 bottom-full opacity-0 group-hover/tooltip-container:opacity-100 duration-150 whitespace-nowrap mr-2  text-right"
  >
    Conocimientos básicos
  </p>
</div>


          </div>
        </div>
        <p class="leading-7">Si quieres un diseñador-Frontend developer o un Full Stack Developer que combine diseño y desarrollo con un extra, no busques más. </p>
      </div>
      </div>




<!-- 
      <div class="relative group bg-white py-20 px-10 m-2 my-4 rounded-xl">
        <div class="absolute top-6 left-5 z-10 flex items-center justify-center gap-1.5">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" class="mb-1 w-5 h-5">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M18.333 2c1.96 0 3.56 1.537 3.662 3.472l.005 .195v12.666c0 1.96 -1.537 3.56 -3.472 3.662l-.195 .005h-12.666a3.667 3.667 0 0 1 -3.662 -3.472l-.005 -.195v-12.666c0 -1.96 1.537 -3.56 3.472 -3.662l.195 -.005h12.666zm-2.626 7.293a1 1 0 0 0 -1.414 0l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.32 1.497l2 2l.094 .083a1 1 0 0 0 1.32 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" />
            </svg>
            <span class="font-bold text-md leading-tight ">Full Stack Developer</span>
          </div>
                <h1 class="text-4xl mb-6">¿Full Stack Developer?</h1>
          <div class="flex flex-col gap-6">
          <p class="leading-7">Diseño, Front-end, Back-end, Infraestructura, Despliegue... ¿Qué significa ser Full Stack hoy en día? Para mí, es representar el modelo de T-shaped skills. Mi especialidad está en el diseño de interfaces (UI) y el desarrollo Front-end, donde me enfoco en la parte visual del desarrollo. A esto, se suma mi capacidad para construir y trabajar con Back-end, junto con conocimientos en despliegue en la nube usando AWS y Azure.</p>
          <div class="flex items-center">
            <div class="relative inline-block py-16">
              <TShape class="cursor-pointer" />
              <div
                class="tip absolute left-40 top-10 -skew-x-[16deg] w-fit h-9 before:absolute before:left-0 before:top-0 before:w-[2px] before:h-full before:duration-150 before:bg-gray-800 before:block after:absolute after:top-0 after:left-0 after:duration-150 after:h-full after:w-[2px] after:bg-gray-800"
                data-taos="fade" data-taos-delay="300"
              >
                <div
                  class="bg-gray-800 block absolute left-0 top-0 w-32 h-[2px] duration-150 origin-top-left"
                  data-taos="fade" data-taos-delay="350"
                ></div>
                <p
                  class="content font-normal translate-y-0 skew-x-[16deg] absolute text-gray-500 -top-full whitespace-nowrap ml-2"
                  data-taos="fade" data-taos-delay="400"
                >
                  Diseño y Front-end
                </p>
              </div>
      
              <div
              class="tip absolute left-40 top-64 skew-x-[16deg] w-fit h-9 before:absolute before:left-0 before:bottom-0 before:w-[2px] before:h-full before:duration-150 before:bg-gray-800 before:block after:absolute after:bottom-0 after:left-0 after:duration-150 after:h-full after:w-[2px] after:bg-gray-800"
              data-taos="fade" data-taos-delay="300"
            >
              <div
                class="bg-gray-800 block absolute left-0 bottom-0 w-32 h-[2px] duration-150 origin-bottom-left"
                data-taos="fade" data-taos-delay="350"
              ></div>
              <p
                class="content font-normal translate-y-0 -skew-x-[16deg] absolute top-1 left-4 text-gray-500 bottom-full whitespace-nowrap ml-2"
                data-taos="fade" data-taos-delay="400"
              >
              Despliegue con Azure y Aws
              </p>
            </div>
      
              <div
                class="tip absolute right-32 bottom-6 -skew-x-[16deg] w-fit h-12 before:absolute before:right-0 before:bottom-0 before:w-[2px] before:h-full before:duration-150 before:bg-gray-800 before:block after:absolute after:bottom-0 after:right-0 after:duration-150 after:h-full after:w-[2px] after:bg-gray-800"
                data-taos="fade" data-taos-delay="300"
              >
                <div
                  class="bg-gray-800 block absolute right-0 bottom-0 w-32 h-[2px] duration-150 origin-bottom-right"
                  data-taos="fade" data-taos-delay="350"
                ></div>
                <p
                  class="content font-normal translate-y-0 skew-x-[16deg] absolute top-4 right-2 text-gray-500 bottom-full whitespace-nowrap mr-2 text-right"
                  data-taos="fade" data-taos-delay="400"
                >
                  Conocimientos básicos
                </p>
              </div>
            </div>
          </div>
          <p class="leading-7">Si quieres un diseñador-Frontend developer o un Full Stack Developer que combine diseño y desarrollo con un extra, no busques más. </p>
        </div>
      </div>
      <div class="relative group bg-white py-20 px-10 m-2 my-4 rounded-xl">
        <div class="absolute top-6 left-5 z-10 flex items-center justify-center gap-1.5">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" class="mb-1 w-5 h-5">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M18.333 2c1.96 0 3.56 1.537 3.662 3.472l.005 .195v12.666c0 1.96 -1.537 3.56 -3.472 3.662l-.195 .005h-12.666a3.667 3.667 0 0 1 -3.662 -3.472l-.005 -.195v-12.666c0 -1.96 1.537 -3.56 3.472 -3.662l.195 -.005h12.666zm-2.626 7.293a1 1 0 0 0 -1.414 0l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.32 1.497l2 2l.094 .083a1 1 0 0 0 1.32 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" />
            </svg>
            <span class="font-bold text-md leading-tight ">Full Stack Developer</span>
          </div>
                <h1 class="text-4xl mb-6">¿Full Stack Developer?</h1>
          <div class="flex flex-col gap-6">
          <p class="leading-7">Diseño, Front-end, Back-end, Infraestructura, Despliegue... ¿Qué significa ser Full Stack hoy en día? Para mí, es representar el modelo de T-shaped skills. Mi especialidad está en el diseño de interfaces (UI) y el desarrollo Front-end, donde me enfoco en la parte visual del desarrollo. A esto, se suma mi capacidad para construir y trabajar con Back-end, junto con conocimientos en despliegue en la nube usando AWS y Azure.</p>
          <div class="flex items-center">
            <div class="relative inline-block py-16">
              <TShape class="cursor-pointer" />
              <div
                class="tip absolute left-40 top-10 -skew-x-[16deg] w-fit h-9 before:absolute before:left-0 before:top-0 before:w-[2px] before:h-full before:duration-150 before:bg-gray-800 before:block after:absolute after:top-0 after:left-0 after:duration-150 after:h-full after:w-[2px] after:bg-gray-800"
                data-taos="fade" data-taos-delay="300" data-taos-once="false"
              >
                <div
                  class="bg-gray-800 block absolute left-0 top-0 w-32 h-[2px] duration-150 origin-top-left"
                  data-taos="fade" data-taos-delay="350" data-taos-once="false"
                ></div>
                <p
                  class="content font-normal translate-y-0 skew-x-[16deg] absolute text-gray-500 -top-full whitespace-nowrap ml-2"
                  data-taos="fade" data-taos-delay="400" data-taos-once="false"
                >
                  Diseño y Front-end
                </p>
              </div>
      
              <div
              class="tip absolute left-40 top-64 skew-x-[16deg] w-fit h-9 before:absolute before:left-0 before:bottom-0 before:w-[2px] before:h-full before:duration-150 before:bg-gray-800 before:block after:absolute after:bottom-0 after:left-0 after:duration-150 after:h-full after:w-[2px] after:bg-gray-800"
              data-taos="fade" data-taos-delay="300" data-taos-once="false"
            >
              <div
                class="bg-gray-800 block absolute left-0 bottom-0 w-32 h-[2px] duration-150 origin-bottom-left"
                data-taos="fade" data-taos-delay="350" data-taos-once="false"
              ></div>
              <p
                class="content font-normal translate-y-0 -skew-x-[16deg] absolute top-1 left-4 text-gray-500 bottom-full whitespace-nowrap ml-2"
                data-taos="fade" data-taos-delay="400" data-taos-once="false"
              >
              Despliegue con Azure y Aws
              </p>
            </div>
      
              <div
                class="tip absolute right-32 bottom-6 -skew-x-[16deg] w-fit h-12 before:absolute before:right-0 before:bottom-0 before:w-[2px] before:h-full before:duration-150 before:bg-gray-800 before:block after:absolute after:bottom-0 after:right-0 after:duration-150 after:h-full after:w-[2px] after:bg-gray-800"
                data-taos="fade" data-taos-delay="300" data-taos-once="false"
              >
                <div
                  class="bg-gray-800 block absolute right-0 bottom-0 w-32 h-[2px] duration-150 origin-bottom-right"
                  data-taos="fade" data-taos-delay="350" data-taos-once="false"
                ></div>
                <p
                  class="content font-normal translate-y-0 skew-x-[16deg] absolute top-4 right-2 text-gray-500 bottom-full whitespace-nowrap mr-2 text-right"
                  data-taos="fade" data-taos-delay="400" data-taos-once="false"
                >
                  Conocimientos básicos
                </p>
              </div>
            </div>
          </div>
          <p class="leading-7">Si quieres un diseñador-Frontend developer o un Full Stack Developer que combine diseño y desarrollo con un extra, no busques más. </p>
        </div>
      </div> -->
