---

---

<div class="main-container">
      <section class="hero">
        <h1>Modern design system made that looks timeless</h1>
      </section>
      <section class="banner">
        <img src="hero.jpg" alt="" />
      </section>
      <section class="outro">
        <h1>Let’s build something quietly iconic</h1>
      </section>
      <div class="text-2xl font-bold text-sky-500 bg-amber-300">Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!Welcome to my portfolio website!</div>

    </div>